body {
  margin: 0;
  padding: 0;
  font-family: "Uncial Antiqua", cursive;
  background: url("https://wallpaper.forfun.com/fetch/09/09d0c50529ab7a12743c8a413b93db67.jpeg")
    no-repeat center center fixed;
  background-size: cover;
  color: #b3f490;
  transition: background-image 0.3s ease;
}

header {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2px;
  text-align: center;
  font-size: 25px;
  border-bottom: 2px solid #77b560;
}

.menu {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}
.menu a {
  color: #b3f490;
  margin: 0 10px;
  text-decoration: none;
  border-bottom: 1px solid transparent;

  background: #2a7900;
  border: 2px solid #b3f490;
  border-radius: 10px;
  padding: 12px 30px;
  font-size: 18px;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #b3f490;
  transition: all 0.3s ease;
}

.menu a:hover {
  border-color: #b3f490;
  background: #8ce65b;
  box-shadow: 0 0 20px #64ff11, 0 0 40px #2d8200;
  transform: scale(1.1);
  border-radius: 40px;
  color: #1f5800;
}

/* Стилі картинок */
.wrapper {
  display: flex;

  gap: 20px;
  padding: 25px;
  background-color: #f4f4f4;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  position: center;
}

.image {
  width: 200px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border: 2px solid #ccc;
  cursor: pointer;
  background-color: black;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  text-align: center;
  font-family: sans-serif;
  transition: transform 0.2s, box-shadow 0.2s;
}

.image:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

body:has(.image1:hover) {
  background-image: url("https://i.postimg.cc/nhbsSvVh/Chat-GPT-Image-2-2025-21-08-58.png");
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease;
}

body:has(.image2:hover) {
  background-image: url("https://i.postimg.cc/tRstLNb3/Chat-GPT-Image-2-2025-21-12-34.png");
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease;
}

body:has(.image3:hover) {
  background-image: url("https://i.postimg.cc/fbgSK1J6/Chat-GPT-Image-2-2025-21-23-33.png");
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease;
}

.wrapper img {
  width: 100%;
}
