body {
  margin: 0;
  padding: 0;
  font-family: "Uncial Antiqua", cursive;
  background: url("https://wallpaper.forfun.com/fetch/09/09d0c50529ab7a12743c8a413b93db67.jpeg")
    no-repeat center center fixed;
  background-size: cover;
  color: #b3f490;
}

header {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2px;
  text-align: center;
  font-size: 25px;
  border-bottom: 2px solid #77b560;
}

div {
  text-align: center;
  padding: 20px;
}

.music {
  position: fixed;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 40px;
  transition: all 0.3s ease;
}
.music:hover {
  box-shadow: 0 0 20px #ff9011, 0 0 40px #ff6200;
  transform: scale(1.1);
  border-radius: 10px;
  width: 170px;
  height: 170px;
}

a {
  color: #b3f490;
  margin: 0 10px;
  text-decoration: none;
  border-bottom: 1px solid transparent;

  background: #2a7900;
  border: 2px solid #b3f490;
  border-radius: 10px;
  padding: 12px 30px;
  font-size: 18px;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #b3f490;
  transition: all 0.3s ease;
}

main {
  max-width: 800px;
  margin: 2rem auto;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 3px solid #b3f490;
  margin-top: 2rem;
  margin: 15px;
  border-radius: 40px;
}

.footer1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

a:hover {
  background: #8ce65b;
  box-shadow: 0 0 20px #64ff11, 0 0 40px #2d8200;
  transform: scale(1.1);
  border-radius: 40px;
  color: #1f5800;
}
.menu {
  background-color: rgba(0, 0, 0, 0.6);
}

h2 {
  font-size: 30px;
  text-align: center;
}
p {
  font-size: 20px;
}

/*https://jsfiddle.net/23hutjw7/
https://jsfiddle.net/krad1w4o/1/
https://jsfiddle.net/kg8hc3nL/1/
*/
